[Unit]
Description=HTTP and reverse proxy server
Documentation=https://nginx.org/en/docs/
After=docker.service
Requires=docker.service

[Service]
ExecStartPre=-/usr/bin/docker stop nginx
ExecStartPre=-/usr/bin/docker rm nginx
ExecStartPre=/usr/bin/docker pull nginx
ExecStart=/usr/bin/docker run \
  --name nginx \
  --network host \
  --mount type=bind,source=/etc/nginx/nginx.conf,target=/etc/nginx/nginx.conf,readonly \
  --rm \
  nginx
TimeoutStartSec=infinity
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
