[Unit]
Description=Kubernetes Kubelet
Documentation=https://kubernetes.io/docs/reference/command-line-tools-reference/kubelet/
After=docker.service
Requests=docker.service

[Service]
Delegate=true
CPUAccounting=true
MemoryAccounting=true
ExecStart=/opt/kx/bin/kubelet-wrapper
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
